/* Simple test on how css variables work */
:root {
    --box-color: blue;
}

.box {
    background-color: pink;
    width: 100px;
    height: 100px;
    /* Testing out relative positioning */
    position: relative;
    left: 47%;
}

/* Testing nested elements with css variables */
.inner-box {
    width: 50%;
    height: 50%;
    background-color: var(--box-color);
    margin: auto;
    /* Testing out absolute positioning */
    position: absolute;
    top: 25%;
    left: 25%;
}