/* Simple test on how css variables work */
:root {
    --box-color: blue;
}

.box {
    background-color: pink;
    width: 100px;
    height: 100px;
}

/* Testing nested elements with css variables */
.inner-box {
    width: 50%;
    height: 50%;
    background-color: var(--box-color);
}